window {
  margin: 0px;
  background-color: rgba(27, 27, 31, 1);
  border-radius: 0px;
  padding: 10px;
  font-family: 0xProto Nerd Font;
  font-size: 13px;
}

#img {
  padding: 6px;
  width: px;
  height: auto;  
}
#outer-box {

  border: 1px solid rgba(145, 145, 126, 1);
}

#input {
  padding: 6px;
  margin: 20px 20px 20px 20px;
  background-color: rgba(39, 41, 51, 1);
  border-radius: 666666px;
  border: none;
  color: white;
}

#entry {
  
  padding: 8px;
  border-radius: 0px;
  color: #f5f4da;
  border: none;
}

#entry:selected {

  border: 1px solid rgba(245, 244, 212, 1);
  border-radius: 6px;
  background-color: rgba(39, 41, 51, 1);
  font-size: 16px;
}


#text {
  color: #f5f4da;
  border: none;
}

#text:selected {
  border: none;
}

#inner-box {
  padding: 15px;
  border: none;
}
